################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Carubbi.PackageTracker/DesignTimeBuild
/.vs/Carubbi.PackageTracker/v15/Server/sqlite3
